Memory Recall.json
{
  "name": "Memory Recall",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "4e26ac83-084b-4a4e-94ce-50d18b832c38",
      "name": "Recall Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1Z-H-5ocNfqFM-wOZugKpu47UfFH_J9YBEtHROZH7qJA"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "bffc9ce0-3188-44fa-863d-2b02344f4a20",
      "name": "Fetch Full Memory",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "kwnm16xCdn9EtJPH",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const query = $node[\"Recall Trigger\"].json.query || \"\";\n\nlet docText = \"\";\ntry {\n  const content = $json.body?.content;\n  if (content && Array.isArray(content)) {\n    docText = content\n      .map(block => {\n        if (block.paragraph && block.paragraph.elements) {\n          return block.paragraph.elements\n            .map(el => el.textRun?.content || \"\")\n            .join(\"\");\n        }\n        return \"\";\n      })\n      .join(\"\")\n      .trim();\n  }\n} catch(e) {\n  docText = \"Memory document could not be read.\";\n}\n\nreturn {\n  json: {\n    query: query,\n    full_memory: docText\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "7bde4720-15c7-4f01-af86-e77bb2682f1d",
      "name": "Parse Memory Doc"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Search Query: {{ $json.query }}\n\nFull Memory Document:\n{{ $json.full_memory }}",
        "options": {
          "systemMessage": "You are a memory search agent. You receive a user's query and a memory document.\n\nYour job:\n1. Search the document for information relevant to the query\n2. Return ONLY the relevant information found\n3. If nothing relevant is found, say \"No matching memory found for this query.\"\n4. Be precise — return exact facts, not summaries\n5. Include any related context that might be helpful\n\nDo NOT add opinions or interpretations. Just return what's stored."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        720,
        0
      ],
      "id": "a6d800d4-650d-4679-9ff8-b83f5dbb1e1e",
      "name": "Search Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        720,
        224
      ],
      "id": "e11bba50-6633-4daa-8c9b-6617e30bb728",
      "name": "GPT 5-mini Recall",
      "credentials": {
        "openAiApi": {
          "id": "EbPfZvscveKnxoX8",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Recall Trigger": {
      "main": [
        [
          {
            "node": "Fetch Full Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Full Memory": {
      "main": [
        [
          {
            "node": "Parse Memory Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Memory Doc": {
      "main": [
        [
          {
            "node": "Search Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT 5-mini Recall": {
      "ai_languageModel": [
        [
          {
            "node": "Search Memory",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e63e4946-884f-4890-aa4f-2fe2fde83b25",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d8d542fa04d8b4edae4747c08c0777b8d5a665f45b24665e01e455e752d9c276"
  },
  "id": "j9WMjh3Z96LnYD2l",
  "tags": []
}